h1 {
  text-align: center;
  float: center;
}
p {
  font: optional;
  font-family: "Times New Roman";
  font-size: 17px;
}
img {
  width: 100px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px -1px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.career,
.education,
.projects,
.skills,
.certifications,
.activities,
.personaldetails {
  background-color: white;
  color: black;
  border: 2px solid #b4da2e;
}
.career:hover,
.education:hover,
.projects:hover,
.skills:hover,
.certifications:hover,
.activities:hover,
.personaldetails:hover {
  background-color: #398fc9;
  color: white;
}
body {
  display: block;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  padding-right: auto;
  padding-left: auto;
}
.topicon {
  border: none;
  width: 50px;
  position: fixed;
  bottom: 20px;
  float: right;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
html {
  scroll-behavior: smooth;
}
.github {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.instagram {
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}
.linkedin {
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 0px 4px;
  text-decoration: none;
  font-size: medium;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
